body{background-color:indianred; color:yellowgreen; margin:auto;}
h1{text-transform:uppercase;}
li{font-style:italic; list-style-type:none;}
p{font-family:tahoma;}
sub{font-size:x-small}
ul{text-indent:-2.4em;}
#wrapper{text-align:center;}

